{% extends 'portal/layout.html' %}

{% block portal %}

<div id="listQuiz"></div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        getQuizzes();
        setInterval(getQuizzes, 5000);
        function getQuizzes() {
            $.ajax({
                url: '/quiz/show',
                type: 'GET',
                dataType: 'json',
                success: (data) => {
                    if(Array.isArray(data)) {
                        const items = data.map(quiz => `<li>${quiz.titulo}</li>`).join('');
                        $('#listQuiz').html(items);
                    } else {
                        $('#listQuiz').html('<li>Nenhum quiz encontrado.</li>');
                    }
                },
                error: (xhr, status, error) => {
                    $('#listQuiz').html('<p>Erro ao carregar quizzes!</p>');
                    console.error('Erro na requisição:', status, error);
                }
        })
        }
    }) 
</script>
{% endblock %}